{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css') }}" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="form-container">

    <form action="{{ url_for('main.formulario_fung') }}" method="POST">
        <!-- Campo para el nombre -->
        <h4>Informacion de la solicitud</h4>
        <label for="nombre">Nombre del solicitante:</label>
        <select id="nombre" name="nombre">
            <option value="Maria Berruecos">Maria Berruecos</option>
            <option value="Javier Bustos">Javier Bustos</option>
            <option value="Jorge Jola">Jorge Jola</option>
            <option value="Natalia Melgarejo">Natalia Melgarejo</option>
            <option value="Miguel Morales">Miguel Morales</option>
        </select>

        <!-- Campo para el correo electrónico -->
        <label for="date_activity">Fecha actividad:</label>
        <input type="date" id="date_activity" name="date_activity" required>
        <br><br>
        <h4>Informacion de la aplicación</h4>
        <label for="Producto">Nombre del Producto:</label>
        <select id="Producto" name="Producto">
            <option value="Ridomil Gold">Ridomil Gold</option>
            <option value="Manzate">Manzate</option>
            <option value="Duclase gold">Duclase gold</option>
            <option value="Fungitane">Fungitane</option>
            <option value="Curzate">Curzate</option>
            <option value="Fosetal">Fosetal</option>
            <option value="Novofiix">Novofiix</option>
            <option value="Trivia">Trivia</option>
            <option value="Vitavax">Vitavax</option>
            <option value="Elatus">Elatus</option>
            <option value="Switch">Switch</option>
            <option value="Rally">Rally</option>
            <option value="Glory">Glory</option>
            <option value="Luna tranquility">Luna tranquility</option>
            <option value="Fungitox">Fungitox</option>
            <option value="Revus">Revus</option>
            <option value="Agrifos">Agrifos</option>
            <option value="Forum">Forum</option>
            <option value="Etofin">Etofin</option>
            <option value="Agrodyne">Agrodyne</option>
            <option value="Mertect">Mertect</option>
            <option value="Score">Score</option>
            <option value="Acronis top">Acronis top</option>
            <option value="Zorvec encantia">Zorvec encantia</option>
            <option value="Mirage">Mirage</option>
            <option value="Altima">Altima</option>
            <option value="Agrifos">Agrifos</option>
            <option value="Tilt">Tilt</option>
            <option value="Carbencal">Carbencal</option>
            <option value="Amistar Top">Amistar Top</option>
            <option value="Amistar Ztra">Amistar Ztra</option>
            <option value="Inspire Gold">Inspire Gold</option>
            <option value="Oxi.Cobre">Oxicloruro de cobre</option>
            <option value="Microazufre">Microazufre</option>
        </select>
        <br><br>
        <label for="Justificacion">Justificacion de la aplicación:</label>
        <input type="text" id="Justificacion" name="Justificacion" required>
        <br><br>
        <label for="costo">Costo del producto ($):</label>
        <input type="number" id="costo" name="costo" step="any" required>
        <br><br>
        <label for="tiempo_cal">Tiempo de calibración (Seg):</label>
        <input type="number" id="tiempo_cal" name="tiempo_cal" step="any" required>
        <br><br>
        <label for="area_cal">Area de calibración (m2):</label>
        <input type="number" id="area_cal" name="area_cal" step="any" required>
        <br><br>
        <label for="caudal">Caudal de la boquilla (ml/s):</label>
        <input type="number" id="caudal" name="caudal" step="any" required>
        <br><br>
        <label for="dosis">Dosis por hectárea (L):</label>
        <input type="number" id="dosis" name="dosis" step="any" required>
        <br><br>
        <label for="area">Área de aplicación:</label>
        <select id="area" name="area">
            <option value="Lote">Lote (3060 m2)</option>
            <option value="Cultivo">Cultivo (2700 m2)</option>
        </select>
        <br><br>
        <!-- Botón de envío -->
        <button type="submit">Descargar PDF</button>
    </form>
</div>
{% endblock %}
